<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding">
      Noticias Recientes
    </ion-title>

    <ion-segment scrollable mode="md"
                (ionChange)="cambiarCategoria($event)">

    <ion-segment-button  mode="md" 
                        *ngFor="let categoria of categorias" 
                        [value]="categoria">
      <ion-label text-capitalize>{{categoria}}</ion-label>
    </ion-segment-button>

  </ion-segment>
  </ion-toolbar>

  
</ion-header>

<ion-content [fullscreen]="true">

  <app-noticias [noticias]="noticias"></app-noticias>
  
</ion-content>
